body {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 223, 231);
}

h1 {
  text-align: center;
  box-sizing: content-box;
  box-align: center;

  color: lightslategray;
  background-color: lightgray;
  border: 3px double whitesmoke;

  width: 300px;
  padding: 15px;
}

p {
  background-color: lightgray;
  border: 3px double whitesmoke;
  color: slategray;

  font-size: 2pc;
  text-align: center;
  padding: 10px 15px;
}

h3 {
  /* This just gives us a title before the projects tab */
  color: slateGray;
}

.tabs_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  font: Arial;

  background-color: lightgray;
  color: whitesmoke;

  /* border: 3px double whitesmoke; */
  height: 60px;
  margin: 10px;
  width: 80%;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-decoration: none;
  color: slategray;
  background-color: lightgray;
  border: 3px double whitesmoke;
}

.link:hover {
  background-color: lightslategray;
  color: whitesmoke;
}
